#ingredients,
#categories {
  text-align: left;
  h2 {
    color: black;
  }
}

#gallery {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: 2px solid black;
  }
}
#counter span {
  font-weight: 700;
}
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
#boxes{
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.task-box {
  border: 2px solid #513eff;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 5px;
  margin: 20px;
  text-align: center;
  h2 {
    margin-top: 5px;
    margin-bottom: 20px;
    color: #f44336;
  }
}
